include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title services
		include inc/head
	body(class="p-services")
		include partials/header
		
		.b-common-wrap
			+b('section').services
				.b-container
					+b('span').title._black Галерея
					+b('nav').menu-a
						+e('a')(href="#" data-count="204").item Все
						+e('a')(href="#" data-count="20").item._active Живопись
						+e('a')(href="#" data-count="20").item Графика
						+e('a')(href="#" data-count="20").item Скульптура
					+e('').top
						+b('span').title-a Что представляет собой Арт-десерт
						+e('').text
							p Теоретическая часть арт-вечера состоит из рассказа о коммерческом, но очень красивом направлении в мировом искусстве 19 века и дополняется практической информацией из практики антикварного бизнеса. Мастер-класс посвящен изобразительному и ораторскому искусству, и развивает навыки презентации и продаж. Теоретическая часть арт-вечера состоит из рассказа о коммерческом, но очень красивом направлении в мировом искусстве 19 века и дополняется практической информацией из практики антикварного бизнеса. Мастер-класс посвящен изобразительному и ораторскому искусству, и развивает навыки презентации и продаж.
						+e('').btn-wrap
							+b('a')(href="#").btn._gray Читать полностью
					+e('').bottom
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Консультация
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Онлайн обучение
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
						+e('').col
							+b('').event-a
								+e('img')(src="img/images.jpg").img
								+e('').wrap
									+e('').left
										time.b-event-a__date_gray 10.10.2015
										+b('span').eye 204
										+b('span').comment 20
									+e('').right
										+b('a')(href="#").heading Арт-десерт
								+e('').title
									+b('span').title-a Все об иллюстрации. Мастер-класс от Андрея и Элины Гордеевых
								+e('').text
									p 5 января в 18:00 стартует четырехчасовой мастер-класс по искусству создания иллюстраций. Эли придумывает изображения на истинно женскую тематику, с удовольствием рисуя цветы, ангелочков, зверей и птиц, радостныхчленов семьи, детишек, красивые пейзажи и портреты. Андрей Гордеев работал над созданием иллюстраций для таких брендов как Kit-Kat, Coca-Cola, Toyota, Apple.
								+e('').btn-wrap
									+b('a')(href="#").btn._gray Подробнее
					+b('').navigation
						+e('').left
							+b('a')(href="#").prev-btn Предыдущая страница
						+e('').middle
							+b('').pagination
								+e('a')(href="#").item 1
								+e('a')(href="#").item._active 2
								+e('a')(href="#").item 3
								+e('a')(href="#").item 4
								+e('a')(href="#").item 5
								+e('a')(href="#").item ...
								+e('a')(href="#").item 20
						+e('').right
							+b('a')(href="#").next-btn._active Следующая страница

		include partials/footer-border
		include inc/vendor-scripts
		script(src="js/client.min.js")
