+b('footer').footer
	.b-container
		+e('').wrap
			+e('a')(href="#").logo
				+e('img')(src="img/logo-footer.jpg").image
			+e('').content
				+e('').top
					+b('nav').menu-footer
						+e('a')(href="#").item artБлог
						+e('a')(href="#").item Школа
						+e('a')(href="#").item Галерея
						+e('a')(href="#").item <span>О проекте</span>
						+e('a')(href="#").item Услуги
						+e('a')(href="#").item Контакты
				+e('').bottom
					+e('').left
						+e('span').copyright © 2015 искусство здесь.
						+e('span').text Использование материалов разрешено только с предварительного согласия
						+e('span').text правообладателей. Все права на картинки и тексты принадлежат их авторам.
					+e('').middle
						+e('a')(href="#").item._vk
						+e('a')(href="#").item._insta
						+e('a')(href="#").item._face
						+e('a')(href="#").item._g
						+e('a')(href="#").item._skype
					+e('').middle._hide
						+e('a')(href="#").item._vk
						+e('a')(href="#").item._insta
						+e('a')(href="#").item._face
						+e('a')(href="#").item._g
						+e('a')(href="#").item._skype
					+e('').left._hide
						+e('span').copyright © 2015 искусство здесь.
						+e('span').text Использование материалов разрешено только с предварительного согласия правообладателей. Все права на картинки и тексты принадлежат их авторам.
					+e('a')(href="#").right
						+e('img')(src = "img/swd.png").swd


